/*-----Specification------*/

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSansCyrl-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-700.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Museo Sans 300', sans-serif;
  font-size: 14px;
  color: #6c7279;
  padding: 0;
  margin: 0;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {  
  margin: 0;
  line-height: 1.2em; 
  
}

ul li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;  
}

h2 {
  font-size: 29.17px;
  font-family: 'Museo Sans 700';
  color: #081d42;
}
h4 {
  font-size: 14px; 
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-size: 16px; 
  font-weight: 700;
}

h3 {
  color: #081d42;
  font-size: 21px;
  font-family: 'Museo Sans 700';
}

a, a:hover, a:active {
  text-decoration: none;
}

a, button, input {
  transition: all 0.5s ease;
}


input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
  outline: none;
}


.container-fluid_plain {
  padding: 0;
}

.btn {
  font-size: 13px;
  font-family: 'Museo Sans 700';
  background: #1cb883;
  color: #fff;
  text-align: center;
  display: block;
  width: 156px;
  padding: 8px 0 7px;
  margin: 0 auto;
  border-radius: 0px; 
  border-bottom: 3px solid #149d6f;
}

.btn:hover {
  background: #149d6f;
  color: #fff;
  border-bottom: 3px solid #1cb883;

}

.btn:focus {
  box-shadow: none;
}

.red{
  color: #b81c31;
}

.lab-ttu {
  text-transform: uppercase; 
}

/*------Header-------*/

.header {
  background: #cacedd;
  border-top: 3px solid #58647a;
  padding-bottom: 11px;
  padding-top: 17px;
  
}

.menu {
  justify-content: space-between;
  padding-right: 17px;
  padding-left: 21px;
  margin-top: 20px;
}

.menu__link {
  font-family: 'Museo Sans 700';
  color: #3f4b60;
  font-size: 17px;
  padding: 5px;

}

.menu__link:hover {
  background: #081d42d4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px -4px 20px 0px rgba(19, 18, 18, 0.08);
}

.fa-phone {
  color: #46e6b0;
}
.call-btn {
  margin-top: 13px;
  margin-right: 0;
}

.menu-open {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #3f4b60;
  font-size: 26px;
}

.menu-opened {
  background: transparent;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.menu__item {
  margin-bottom: 30px;
}

/*/Modal/*/

.box-modal {
  position: relative;
  width: 300px;
  padding: 16px;
  background: rgba(191, 190, 206, 1);
  color: #3c3c3c;
  font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
  border-radius: 6px;
}
.box-modal_close { 
  position: absolute; right: 10px; top: 6px; 
  font-size: 11px; 
  line-height: 15px; 
  color: #999; 
  cursor: pointer; 
}

.box-modal_close:hover { color: #666; }

.form-content__title {
  font-size: 17px;
  color: #081d42;
  font-family: 'Museo Sans 700';
  text-align: center;
}

.form-content__text_top {
  font-family: 'Museo Sans 300';
  text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}

.form__input {
  font-family: 'Museo Sans 300';
  font-size: 13px;
  color: #081d42;
  
  border: none;
  margin-top: 20px;
  width: 267px;
  padding-bottom: 10px; 
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.form-content__btn {
  width: 269px;
  height: 59px;
  background: #081d42;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-family: 'Museo Sans 700';
  border: none;
  margin-top: 30px;
}

.form-content__text_bottom {
  font-family: 'Museo Sans 100';
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/*------Preloader-------*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #c7cce7; 
    z-index: 100500;
}


.cssload-container{
  position:relative;
}
  
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(204,204,204);
  border-left-color: rgb(0,0,0);
  border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: 450px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

/*------Home page-------*/

/*------consilting section-------*/

.offer {
    padding-top: 82px;
    padding-bottom: 136px;
    overflow: hidden;
    position: relative;
}

.offer__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: url(../img/megapolis.jpg) no-repeat fixed center center / cover;
}

.consulting__title {
  font-size: 58px;
  font-family: 'Museo Sans 700';
  color: #081d42;
}

.consulting__text {
  font-size: 29px;
  font-family: 'Museo Sans 100';
  color: #081d42;
  width: 500px;
  margin-bottom: 33px; 
  margin-top: 11px; 

}

.consulting__icon {
  background: rgba(255, 255, 255, 0.82);
  width: 167px;
  height: 46px;
  border-radius: 3px;
  position: relative;
  margin-left: 9px;
}

.consulting__icon:before {
  content: '';
  display: block;
  position: absolute;
  width: 173px;
  height: 52px;
  border: 3px solid rgba(255, 255, 255, 0.54);
  border-radius: 3px;
  margin-top: -3px;
  margin-left: -3px;
}

.consulting__wrap {
  width: 30px;
  height: 30px;
  background: transparent; 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 8px;
  margin-right: 20px;
}

.consulting__wrap_face {
  color: #2c60a0;
  border: 2px solid #2c60a0;
  font-size: 16.67px;
  margin-left: 17px; 
}

.consulting__wrap_twit {
  color: #43c9fd;
  border: 2px solid #43c9fd;
  font-size: 16.67px;
}

.consulting__wrap_tel {
  color: #2ea7d6;
  border: 2px solid #2ea7d6;
  font-size: 16.67px;
}

/*------Trust section-------*/

.trust {
  padding-top: 52px;
  padding-bottom: 104px;
  background: #f1f1f3;   
}

.trust__main-title {
  margin-bottom: 46px;
}

.trust__image_light {
  width: 119px;
  height: 119px;
  background: #c8cbdb url(../img/light.png) no-repeat center center;
  border-radius: 100px;
  margin: 0 auto;
  
}

.trust__image_books {
  width: 119px;
  height: 119px;
  background: #c8cbdb url(../img/books.png) no-repeat center center;
  border-radius: 100px;
  margin: 0 auto;
 
}

.trust__image_star {
  width: 119px;
  height: 119px;
  background: #c8cbdb url(../img/star.png) no-repeat center center;
  border-radius: 100px;
  margin: 0 auto;
  
}

.trust__text {
  font-family: 'Museo Sans 300';
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-top: 13px;
}

.trust__title {
  margin-top: 23px;
  color: #404048;
}

.trust__item { 
  position: relative;
}

.trust__btn {
    position: absolute;
    left: 50%;
    top: 77px;
    margin-left: -85px;
    display: block;
    width: 170px;
    color: #fff;
    background: #1cb883;
    padding: 11px 0;
    border-bottom: 3px solid #149d6f;
  }

/*------Details section-------*/
.details {
  padding-top: 98px;
  padding-bottom: 82px;
}

.lab {
  text-align: center;
}

.lab__circle {
  width: 86px;
  height: 86px;
  background: #102e62;
  border-radius: 100px;
  color: #fff;
  font-size: 50px;
  font-family: 'Museo Sans 100';
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.lab__title {
   font-family: 'Museo Sans 100';
   font-size: 24px;
   margin-top: 8px;
   margin-bottom: 13px;
   text-transform: none;
   color: #081d42;
}

.lab__text {
  font-size: 14px;
  font-family: 'Museo Sans 300';
  color: #404048; 
  text-transform: none;
  padding-left: 6px;
  padding-right: 9px;
}

/*------Mission section-------*/

.mission {
  background: #5e697d;
  padding-top: 38px;
  padding-bottom: 32px; 
}

.mission__title {
  font-family: 'Museo Sans 700';
  font-size: 23px;
  color: #a9aeb7;
}

.mission__title:after {
  content: '';
  display: block;
  height: 3px;
  background: #6f7a8c;
  margin-top: 10px;
}

.mission__text_left {
  width: 470px;
  margin-bottom: 52px;
}

.mission__text_right {
  width: 370px;
  margin-left: 30px;

}

.mission_paragraph {
  margin-top: 22px;
  font-size: 15px;
  font-family: 'Museo Sans 300';
  color: #d3d5da;
}

.mission__btn {
  width: 169px;
  background: transparent;
  border: 2px solid #ced1d7;
  color: #ced1d7;
  font-size: 15px;
  font-family: 'Museo Sans 700';
  padding: 10px 27px 13px 29px;
  letter-spacing: 0.04em;
}

.mission__btn:hover {
  background: rgba(206, 209, 215, 0.26);
  color: #dadde0;
}

.news__title {
  font-family: 'Museo Sans 700';
  font-size: 23px;
  color: #a9aeb7;
}

.news__title:after {
  content: '';
  display: block;
  width: 270px;
  height: 3px;
  background: #6f7a8c;
  margin-top: 10px;
  margin-bottom: 23px;
}

.news__link {
  font-family: 'Museo Sans 700';
  font-size: 12.5px;
  color: #d6d9df;
 
}

.news__link:hover {
  color: rgba(16, 30, 60, 1);
}

.news__date {
  font-size: 10.42px;
  font-family: 'Museo Sans 100';
  margin-top: 14px;
  color: #a8aeb8;
}

.news__item {
  line-height: 1em;
  padding-left: 70px;
  padding-right: 20px;
  background: url('../img/semi.jpg') no-repeat left top;
}

.news:after {
  content: '';
  display: block;
  height: 1px;
  background: #6c778b;
  margin-top: 15px;
  margin-bottom: 18px; 
}

.news:last-child:after {
  margin-top: 13px;
}


/*------About section-------*/

.about {
  background: #3a4456;
  color: #a7aab0;
  padding-top: 44px;
  padding-bottom: 28px;

}

.items__list {
   padding: 0;
   font-size: 14px;
   font-family: 'Museo Sans 300';
}


.items__title {
  margin-bottom: 15px;
  font-family: 'Museo Sans 700';
  text-transform: none;
  font-size: 19px;
  color: #bcbfc5;
}

.items__link {
  color: #a7aab0;
}

.items__link:hover  {
  color: #fff;
}

.items_branches {
  margin-top: 27px;
}

.items_center {
  margin-top: 27px;
}

.items_soc {
  margin-top: 27px;
}

/*------Contacts-------*/

.map-contact__form {
  width: 470px;
  height: 344px;
  background: rgba(124, 132, 147, 0.80);
  border-radius: 5px;
  color: #ffffff; 
  position: absolute;
  margin-top: -400px;

}

.map-contact__phone:hover{
  color: rgba(16, 30, 60, 1);
}
.map-contact__title {
  font-family: 'Museo Sans 700';
  color: #fff;
  margin-left: 27px;
  margin-right: 116px;
  margin-top: 28px;
  margin-bottom: 60px;
}

.wrap__down {
  margin-left: 33px;
}

.map-contact__adress {
  margin-top: 27px;
  margin-bottom: 27px;
}

.col {
  position: relative;
  padding: 0;
}

.fa-down{
  color: #fff;
  margin-left: 6px;
}

.fa-up{
  color: #fff;
  margin-left: 6px;
}

.fa-location-arrow {
  margin-left: 5px;
}

.adress_up {
  margin-left: 5px;
}

.adress_middle {
  margin-left: 25px;
}

.adress_down {
  margin-left: 25px;
}

.fa-envelope {
  margin-left: 6px;
  color: #fff;
  cursor: pointer;
}


.map-contact__mail {
  color: #fff;
  cursor: pointer;
}

.map-contact__mail:hover {
  color: rgba(16, 30, 60, 1);
}


.map-contact__phone {
  color: #fff;
}
.map-contact__wrap {
  width: 30px;
  height: 30px;
  background: transparent; 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 8px;
  margin-right: 20px;
  margin-top: 25px;
}

.map-contact__wrap_face {
  color: #fff;
  border: 2px solid #fff;
  font-size: 16.67px;
  margin-left: 17px; 
}

.map-contact__wrap_twit {
  color: #fff;
  border: 2px solid #fff;
  font-size: 16.67px;
}

.map-contact__wrap_tel {
  color: #fff;
  border: 2px solid #fff;
  font-size: 16.67px;
}

.map-contact__text {
  width: 190px;
  margin-left: 35px;
  font-family: 'Museo Sans 300';
  font-size: 12px;
}

.map-contact__up {
  margin-bottom: 17px;
}

/*-----Media Queries-----*/

/*/* 320-576px */
@media screen and (max-width: 576px) {
  .map-contact__form {
    display: none;
  }

  .container{
        padding: 0;
        overflow-x: hidden;
    }

}


/*------Footer-------*/

.footer {
    background: #1f2531;
    border-bottom: 18px solid #58647a;
    padding-bottom: 43px;
  }

  .text {
    flex-direction: column;
    font-family: 'Museo Sans 100';
    line-height: 1.2em;
    margin-top: 30px;
    color: #adaeb0;
    font-size: 12px;
    display: block;
  }

  .text__copyright {
    max-width: 200px;
}

  .text__address {
    max-width: 110px;
    line-height: 1.3em;
    margin-top: 10px;
}

.develop {
    margin-top: 35px;
}

.develop__icon {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #acafb3;
  text-transform: uppercase;
  font-family: 'Museo Sans 100';
  font-size: 14.58px;
  color: #acafb3;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 12px;
}

.develop__text {
    margin-top: -3px;
    color: #a1a2a5;
    font-family: 'Museo Sans 100';
}

.work {
    display: block;
    font-size: 10.42px;
}

.coach {
    display: block;
    text-transform: uppercase;
    font-size: 12.08px;
    margin-top: -2px;
}

.copyright {
  flex-direction: column;
    margin-top: 19px;
    color: #84878e;
    font-size: 12.08px;
}

.copyright__text {
  font-family: 'Museo Sans 100';
}

.copyright__name {
  font-family: 'Museo Sans 700';
}

.copyright__link {
    width: 90px;
    color: #84878e;
    border-bottom: 1px solid #4c515a;
    margin-top: -2px;
}

.copyright__link:hover {
  color: #fff;
}

.footer-btn {
  width: 156px;
  margin-top: 68px;
  margin-left: 15px;
}


/*-----Media Queries-----*/

/* 992-1200px */
@media screen and (max-width: 1200px) {

  .call-btn {
    width: 140px;
  }

  .menu__link {
    font-size: 15px;
  }
  

.news__title:after {
 max-width: 100%
}

.mission__title:after {
  max-width: 100%;
}

.footer-btn {
    width: 156px;
    margin-top: 68px;
    margin-left: -40px;
}
}

/* 768-992px */
@media screen and (max-width: 992px) {



.trust__main-title {
  margin-bottom: 26px;
}


.details {
  padding-top: 38px;
}

.lab__text {
  letter-spacing: 0.02em;  
}

.lab {
  padding-top: 45px;
}

.news__title {
  margin-top: 57px;
}

.news__title:after {
 width: 724px;
}

.news:after {
  width: 268px;
}

.news__item {
  height: 55px;
  line-height: 0em;
  padding-top: 20px;
}

.mission__title:after {
  max-width: 100%;
}

.mission__text_left {
  width: 352px;
  margin-bottom: 45px;
}

.mission__text_right {
  width: 352px;
  margin-left: 20px;
}

.items_services {
  margin-top: 37px;
}

.about {
  padding-top: 40px;
  padding-bottom: 32px;
}

.items_branches {
  margin-top: 37px;
  margin-left: -15px;
}

.items_soc {
  margin-top: 45px;
  margin-left: -15px;
}

.items_center {
  margin-top: 45px;

}

.items_pres {
  margin-left: -15px;
}

.footer__logo {
  width: 205px;
  margin-top: 35px;
}

.footer-btn {
  display: none;
}

.fa-bars {
  color: #3f4b60;
  font-size: 26px;
  margin-top: 5px;
  margin-left: 10px;
  margin-top: 20px;

}

}

 /*576-768px*/ 
@media screen and (max-width: 768px) {
 .header {
  padding: 30px 30px;
 }

.news__title:after {
  max-width: 100%
}

.footer {
     text-align: center;
}

.text {
  align-items: center;
    justify-content: center;
}

.develop {
  align-items: center;
    justify-content: center;
}

.develop__text {
  text-align: left;
}

.logo {
  max-width: 100%;
  margin-left: -30px;
}

.fa-bars {
  color: #3f4b60;
  font-size: 26px;
  margin-top: 5px;
  margin-left: 200px; 
}

.call-btn {
 margin: 0 auto;
 margin-left: 60px;
}

.trust__item {
  margin-top: 20px;
}
}


/*/* 320-576px */
@media screen and (max-width: 576px) {
.header {
  padding-bottom: 10px;
}

  .call__btn {
    margin-left: -10px;
    margin-top: 30px;
  }

  .fa-bars {
    margin-left: 270px;
  }

  .offer {
    padding-top: 40px;
    padding-bottom: 40px
  }

  .consulting__title {
    font-size: 38px;
  }

  .consulting__text {
    width: 300px;
  }

  .trust__item{
    margin-top: 30px;
  }
  
  .trust__main-title {
    font-size: 24px;
    margin-bottom: 10px;
  }


.mission__wrap {
  flex-direction: column;
}

.mission__text_left {
  max-width: 100%; 
  margin: 0; 
}

.mission__text_right {
  max-width: 100%;
  margin: 0;
  margin-bottom: 40px;
}

.news__item {
  line-height: 1em;
  padding-top: 0;

}

.news:last-child:after {
  margin-top: 23px;
}

.news:after {
  margin-top: 25px;
  
}

.about {
  padding-bottom: 0px;
}

.items {
  text-align: center;
  margin-left: 0;
  margin-bottom: 40px;

}

.items_services {
  margin-top: 0;
}

.items_branches {
   margin-top: 0;
}

.items_center {
  margin-top: 0;
}

.items_soc {
   margin-top: 0;
}

}

/*-----About-----*/

/*-----Main-company-----*/

.main-company {
  background: #fafafb;
  padding-top: 60px;
  padding-bottom: 76px;
}

.main-company__title {
  font-family: 'Museo Sans 700';
  font-size: 37.5px; 
  color: #081d42;
}

.place {
  margin-top: 9px;
}

.place__link {
  color: #7e838d;
  border-bottom: 1px solid transparent; 
  font-size: 15.62px;
}

.place__link:hover {
  color: #49556b;
  border-bottom: 1px solid #49556b;
}

.place__arrow {
  padding: 0px 4px;
}

.info {
  margin-top: 30px;
  margin-left: -25px;
}

.info__title {
  color: #a1a6af;
  font-family: 'Museo Sans 700';
  font-size: 15.83px;
  padding: 11px; 
  border: 2px solid transparent;
  /*position: relative;*/
}

.info__title:hover {
  border: 2px solid #b81c31;
  color: #b81c31;
}

/*-----Consult company-----*/

.consult {
  padding-top: 54px;
 
}

.consult__title {
  margin-bottom: 29px;
  letter-spacing: 0.02em;
}

.consult__text {
  font-family: 'Museo Sans 300';
  font-size: 15px;
  letter-spacing: 0.02em;
}

.consult__line {
  width: 100%;
  height: 2px;
  background: #e5e6e8;
  margin-top: 54px;
  margin-bottom: 37px;
  
}

.scale__image{
  border: 2px solid #102e62;
  border-radius: 50px;
  padding: 12px 11px 15px 11px;
  margin-right: 40px;
  width: 60px;
  height: 60px;
}

.scale__title {
    color: #081d42;
    font-size: 18.33px;
    letter-spacing: 0.02em;
}

.scale__text {
  color: #404048;
  margin-top: 13px;
  line-height: 1.3em;
  margin-bottom: 29px;
  font-size: 14px;
  font-family: 'Museo Sans 300';
  letter-spacing: 0.02em;
}

.scale__line {
  background: #e5e6e8;
  height: 2px;
  width: 100%;
  margin-bottom: 34px;
}

/*-----Photo saction-----*/

.photo {
  margin-bottom: 70px;
}

.photo__image {
  max-width: 100%;
  padding: 5px;
}

.photo__title {
  margin-top: 13px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.pics__wrap {
  position: relative;
}

.pics__overlay {
  background: rgba(52, 48, 70, 0.73);
  color: #fff;
  position: absolute;
  top: 5px;
  left: 0;
  width: 111%;
  height: 91%;
  opacity: 0;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
}

.pics__overlay:hover {
  opacity: 1;
  cursor: pointer;
}


/*-----Media Queries-----*/

/* 992-1200px */
@media screen and (max-width: 1200px) {
 .main-company {
    padding-bottom: 40px;
 }

 .photo__image {
  max-width: 100%;
 }

.info__title {
  margin-left: 10px;
  margin-right: 10px;
}
}

/* 768-992px */
@media screen and (max-width: 992px) {
  .photo__image {
  max-width: 90%;
}


}


 /*576-768px*/ 
@media screen and (max-width: 768px) {
  .main-company__title {
    text-align: center;
  }

.place {
  align-items: center;
    justify-content: center;
}

.consult__text {
  margin-top: 20px;
}

.consult__title {
    margin-bottom: 0;
  }


.photo__title {
  margin-bottom: 40px;
}

.pics__overlay {
  max-width: 445px;
  max-height: 445px;
}
}

  /*/* 320-576px */
@media screen and (max-width: 576px) {
.info__link {
  margin-bottom: 21px;

}
.info {
  flex-direction: column;
  text-align: center;
}

.consult__title {
  font-size: 29px;
}

.scale {
  flex-direction: column;
}

.scale__image {
  margin-bottom: 34px;
}

.photo__image {
  width: 444px;
}
}


/*-----Services-----*/

.low {
  padding-top: 42px;
  padding-bottom: 25px;
  background: url(../img/low-back.jpg) no-repeat center center;
}

.legal__title {
  color: #fff;
  font-family: 'Museo Sans Cyrl 700';
  font-size: 25px;
  margin-top: 28px;
}

.legal__text {
  font-size: 15px;
  font-family: 'Museo Sans Cyrl 300';
  color: #fff;
  width: 325px;
  margin-top: 18px;
}

.nice__list {
  padding-top: 19px;
  padding-bottom: 14px;
  padding-left: 26px;
  width: 370px;
  height: 228px;
  border-radius: 5px;
  border: 2px solid #9a9ca7; 
  margin-left: 30px; 
}

.nice__arrow {
    color: #c1c4c9;
    margin-right: 8px;
    font-size: 12.5px;
    font-weight: 400;
    margin-top: 3px;
    font-family: Arial, sans-serif;
}

.nice__link {
  text-decoration: none;
  font-size: 15.42px;
  color: #fff;
  font-family: 'Museo Sans Cyrl 300';
  margin-bottom: 14px;  
}

.nice__text {
  border-bottom: 1px solid transparent;
  font-size: 15.42px;
  letter-spacing: 0.02em;
  font-family: 'Museo Sans 300';
  color: #fff;
}

.nice__text:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}


/*-----Second-----*/

.second {
  
  padding-bottom: 54px;
}

.category__title {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-top: 50px;
}

.category__text {
  font-size: 15px;
  color: #404048;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.free {
  width: 470px; 
  height: 190px;
  border: 2px solid #e3e4e6;
  border-radius: 5px;
  padding: 26px 123px 28px 31px;
  margin-top: 40px;
}

.free__title {
  font-family: 'Museo Sans 700';
  font-size: 16px;
  color: #414449;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}


.free__btn {
  width: 157px;
  height: 42px;
  border: 2px solid #b81c31;
  border-radius: 2px;
  padding: 11px 20px 11px 18px;
  text-decoration: none;
  color: #b81c31;
  font-family: 'Museo Sans 700';
  font-size: 14px;
}

.free__btn:hover {
  background: #b81c31;
  color: #fff;
}

.free__tel {
  text-decoration: none;
  color: #585f6b;
  font-family: 'Museo Sans 700';
  font-size: 14px;
  margin-left: 17px;

}

.free__tel:hover {
  color: #081d42;
}

.free__text {
  width: 267px;
  font-family: 'Museo Sans 300';
  font-size: 12px;
  margin-top: 20px;
}


.navigation {
  background: #fafafb;
}

.navigation__title {
  font-family: 'Museo Sans 700';
  font-size: 17.92px;
  color: #989eaa;
  margin-left: 58px;
  margin-bottom: 46px;
  padding-top: 50px;
}

.navigation__list {
  padding-left: 0px;
}

.navigation__item {
  border-top: 1px solid #dfdfe8;

}

.navigation__item_last {
  border-bottom: 1px solid #dfdfe8;
}

.navigation__point {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background: #aeaeb9;
  margin-top: 22px;
  margin-left: 26px;
  

}

.navigation__link {
  font-family: 'Museo Sans 700';
  font-size: 15.42px;
  color: #747487;
  text-decoration: none;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 15px;
}

.navigation__link:hover {
  color: #081d42;
}

.navigation__link_long {
  width: 178px;
}

.reviews__title {
  font-family: 'Museo Sans 700';
  font-size: 17.92px;
  color: #989eaa;
  margin-left: 58px;
  margin-top: 56px;
}


/*-----Slider-----*/

.slick-prev, .slick-next {
  font-size: 25px;
  color: #404048 !important;
}


.slick-slide img {
  margin-left: 100px;
}

.slick-list {
  margin-top: 40px;
}

.slick-dots li button::before {
    font-family: slick;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 11px;
    height: 11px;
    content: "";
    opacity: 0.5;
    background: #bdc5d6;
    margin-top: 170px;
    }

  .slick-dots li.slick-active button::before {
    background: #8b9ab7;
    
    }

  .slide__title {
    font-family: 'Museo Sans 700';
    font-size: 15.42px;
    color: #747487;
    margin-left: 105px;
    margin-top: 18px;
  }

  .slide__text {
    font-family: 'Museo Sans 300'; 
    font-size: 13px;
    color: #404048;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 18px;
  }

  .fa-facebook-f {
    margin-left: 165px;
    color: #2c60a0;
  }

  /*-----Media Queries-----*/

/* 992-1200px */
@media screen and (max-width: 1200px) {
  .nice__list{
    display: none;
  }

  .slick-dots li button::before {
    margin-left: 30px;
  }


 }

/* 768-992px */
@media screen and (max-width: 992px) {
    .navigation {
      margin-top: 45px;
    }

    .slider__item {
      margin-left: 170px;
    }

    .slide__title {
      margin-left: 280px;
    }

    .slide__text {
      width: 575px;
      margin-left: 60px;
    }

    .fa-facebook-f {
      margin-left: 330px;
    }

    .slick-dots li button::before {
    margin-left: 0px;
  }

  .second {
    padding-bottom: 95px;
  }
  
}


 /*576-768px*/ 
@media screen and (max-width: 768px) {
 .slider__item {
      margin-left: 100px;
    }

    .slide__title {
      margin-left: 200px;
    }

    .slide__text {
      width: 430px;
      margin-left: 60px;
    }

    .fa-facebook-f {
      margin-left: 250px;
    }

    .legal {
      text-align: center;
    }

    .legal__text {
      width: 487px;
    }

    .low {
      padding: 0px;
      height: 488px; 
    }


  /*/* 320-576px */
@media screen and (max-width: 576px) {
  .menu-open {
    margin-left:-40px;
  }

  .legal__text {
      width: 287px;
    }
  .free {
    width: 295px;
    padding: 16px 10px 16px 10px; 
   }

   .slider__item {
      margin-left: 0px;

    }

    .slide__title {
      margin-left: 100px;
    }

    .slide__text {
      width: 300px;
      margin-left: 0px;
    }

    .fa-facebook-f {
      margin-left: 150px;
    }
  }
